* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 7fr;
    height: 100%;
}

.sidebar {
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: rgb(67, 190, 231);
    color: white;
    padding: 15px;
    justify-content: start;
    font-weight: bold;
    min-width: 170px;
}

a {
    color: white;
    text-decoration: none;
}

ul li {
    list-style-type: none;
    padding-bottom: 8px;
}

.sidebar ul li:nth-child(7) {
    margin-top: 30px;
}

.main-content {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 6px;
    padding-left: 30px;
    padding-bottom: 10px;
    /* box-shadow: rgba(10, 37, 64, 0.219) 0px 2px 6px 0px inset; */
}

.intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.intro img {
    grid-row: 1/3;
}

.intro span {
    font-weight: bold;
}

.action-buttons {
    align-items: center;
    justify-content: end;
    display: flex;
}

.action-buttons button {
    background-color: rgb(67, 190, 231);
    color: white;
    border-radius: 15px;
    border: 1px rgb(67, 190, 231);
    padding: 5px 10px;
    margin-right: 10px;
    width: 70px;
    height: 30px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: end;
    margin-right: 20px;
}

.search-bar {
    align-self: center;
}

.projects-section {
    background-color: rgb(237, 237, 237);

}

.projects-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
    gap: 20px;
    font-size: 14px;
}


.projects {
    grid-row: 1/3;
}

.projects-grid {

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    margin-top: 10px;
}

.project-card {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-left: 5px solid #efb428;
    height: 150px;

}

.trending-content {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.announcements-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin-top: 10px;
}

.announcements-content {
    border-bottom: 1px solid rgb(162, 162, 162);
    margin-bottom: 10px;

}

.announcements-content p {
    color: rgb(95, 94, 94);
    font-size: 12px;
    margin-bottom: 10px;
}

.announcements-content:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.profile-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-bottom: 30px;
}

.profile-card:last-child {
    margin-bottom: 0;
}

.profile-card .profile-info {
    font-size: 14px;
}

.profile-info p:last-of-type {
    color: rgb(95, 94, 94);
}